@import "src/styles/Colors"
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap')

.Input
  font-size: 30px
  padding: 10px 20px
  outline: 0
  border-width: 0 0 2px
  border-color: $textSubSecondary
  &:focus
    outline: none
    border-color: $primary
    transition: 0.3s border-color