@import "src/styles/Colors"
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap')

.input__container
  display: flex
  justify-content: space-between
  padding: 10px 10px
  background: $lightPrimary
  border: none
  border-radius: 5px
  font-size: 30px
  input
    font-family: "Roboto", sans-serif
    display: flex
    justify-content: center
    background: transparent
    border: none
    padding: 0 10px
    color: #fff
    &:focus
      outline: none
  svg
    padding-right: 10px
    margin-right: 10px
    border-right: 1px #fff solid
    border-right: 1px #fff solid

.Input
  display: flex
  font-size: 30px
  padding: 10px 20px
  outline: 0
  border-width: 0 0 2px
  border-color: $textSubSecondary
  &:focus
    outline: none
    border-color: $primary
    transition: 0.3s border-color
