@import "src/styles/Colors"
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap')

.input__container
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px 10px
  background: $lightPrimary
  border: none
  border-radius: 5px
  font-size: 30px
  input
    font-family: "Roboto", sans-serif
    font-size: 30px
    display: flex
    justify-content: center
    align-items: center
    background: transparent
    border: none
    padding: 0 10px
    &:focus
      outline: none
  svg
    padding-right: 10px
    margin-right: 10px
    border-right: 1px #fff solid