@import "src/styles/Colors"

.episode
  flex: 1 0 300px
  flex-flow: row wrap
  margin: 20px 20px
  border-radius: 10px
  padding: 20px 0
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26)
  button
    margin: 10px 0

.episode__info
  color: $textSecondary
  display: flex
  justify-content: space-around
  flex-flow: column wrap
  padding: 10px 20px
  word-wrap: break-word


@media (min-width: 576px)
  .episode
    flex: 1 0 90%
    flex-flow: row nowrap

@media (min-width: 768px)
  .episode
    flex: 1 0 90%

@media (min-width: 1200px)
  .episode
    flex: 1 0 45%