@import "src/styles/Colors"

.episode
  flex-basis: 40%
  margin: 20px 20px
  border-radius: 5px
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26)
  button
    margin: 10px 0

.episode__info
  color: $textSecondary
  margin: 20px 40px

@media (max-width: 1660px)
  .episode
    flex-basis: content
    margin: 20px 20px
    border-radius: 5px
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26)
    button
      margin: 10px 0