.characterPage
  display: flex
  justify-content: center
  flex-flow: column wrap
  margin: 0 20px


.searchContainer
  display: flex
  justify-content: center
  input
    width: 85%

.checkboxContainer
  margin: 40px 0
  display: flex
  justify-content: center

.pageSwitchers
  display: flex
  justify-content: center
  flex-direction: row
  align-items: center
  button
    margin: 10px 5px

.dataInfo
  display: flex
  justify-content: center
  h3
    margin: 0 20px