.characterPage
  display: flex
  justify-content: flex-start
  flex-flow: column wrap
  margin: 20px 100px

.searchContainer
  display: flex
  flex-direction: column
  justify-content: flex-start
  margin: 20px 15px

.checkboxContainer
  margin: 40px
  display: flex
  justify-content: center

.pageSwitchers
  margin: 30px
  display: flex
  justify-content: center
  align-items: center