@import "src/styles/Colors"

.info__text
  display: flex
  flex-direction: column
  justify-content: center
  flex-wrap: wrap
  color: $textSecondary
  font-size: 40px
  align-items: center
  text-align: center
  margin: 10% 0


  h2
    color: $textSecondary

  h4, h5
    color: $textSubSecondary

.buttonContainer
  display: flex
  justify-content: center
  margin: 2% 0
  button
    margin: 10px 10px