@import "src/styles/Colors"

.character
  display: flex
  flex-basis: min-content
  flex-flow: row wrap
  margin: 20px 20px
  border-radius: 10px
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26)
  button
    margin: 10px 0
  img
    border-radius: 10px 10px 0 0

.character__info
  color: $textSecondary
  display: flex
  justify-content: space-around
  flex-flow: column wrap
  padding: 10px 20px
  word-wrap: break-word

@media (min-width: 576px)
  .character
    flex: 1 0 90%
    flex-flow: row nowrap
    img
      border-radius: 10px 10px 0 0

@media (min-width: 768px)
  .character
    flex: 1 0 90%
    img
      border-radius: 10px 10px 0 0

@media (min-width: 1200px)
  .character
    flex: 1 0 45%
    img
      border-radius: 10px 0 0 10px