@import "src/styles/Colors"

.character
  display: flex
  flex: 1 0 auto
  background: #ffffff
  margin: 10px 15px
  border-radius: 5px
  width: 45%
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26)
  img
    border-radius: 5px 0 0 5px

.character__info
  color: $textSecondary
  display: flex
  justify-content: space-around
  flex-flow: column wrap
  padding: 2% 10%
